<div class="row">
    <div class="col-md-6 text-left">
        <ul>
            <li><h4>關於我們</h4></li>
            <li><a href="/views/center.ejs">客服中心</a></li>
            <li><a href="/views/question.ejs">購買須知</a></li>
            <li><a href="/views/pps.ejs">人物介紹</a></li>
        </ul>
    </div>
    <div class="col-md-6 text-left">
        <address>
            <h3>
                服務專線：02-22222222        
                <br>服務時間：禮拜一至五
                <br>12:00~21:00
            </h3>
        </address>
    </div>
</div>

<style>
    .row li {
        list-style: none;
    }
</style>