<header id="header">
    <nav class="sticky-nav">
      <ul>
        <li><a href="/views/index.ejs"pngcon>主頁<i class="fa-solid fa-house"></i></a></li>
        <li><a href="/views/aboutMe.ejs">關於我們<i class="fa-solid fa-users"></i></i></a></li>
        <img src="/images/shortcut_icon.webp"  alt="WRONG" id="icon">
      </ul>
    </nav>
</header>