<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="3"> -->
    <title>Document</title>
    <link rel="shortcut icon" href="/images/shortcut_icon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/Css/Header_Footer.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        
        .con p {
            position: relative;
            text-align: center;
        }
        .con h1 {
            position: relative;
            padding-top: 5%;
            padding-bottom: 3%;
            text-align: center;
        }
        body {
          width: 100vw;
          height: 100vh;
          position: relative;
          height: 100%;

          /* background */
          background-image: url('/images/back.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        /* .Background {
          width: 100vw;
          height: 100vh;
          background-repeat: repeat-y;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
        } */
    </style>
</head>
<body>
    <!-- <img src="/images/back.jpg" alt="WRONG" class="Background"> -->
    <%- include('shared/header') %>
    <!-- <header id="header">
      
        <nav class="sticky-nav">
          <ul>
            <li><a href="/views/index.ejs">主頁<i class="fa-solid fa-house"></i></a></li>
            <li><a href="/views/aboutMe.ejs">關於我們<i class="fa-solid fa-users"></i></i></a></li>
            <img src="/images/shortcut_icon.webp"  alt="WRONG" id="icon">
          </ul>
        </nav>
    </header> -->

    <div class="con">
        
    
    <h1>《購買須知》</h1>
    <p>1.支持貨到付款/銀行轉帳</p>
    <p>2.開箱時請全程錄影，保障雙方權益</p>
    <p>3.商品皆為預購需等候15-30天敬請見諒</p>
    <p>4.賣貨便下單 運費35元，也可上我們的官方蝦皮下單</p>
    <p>5.官網退貨方式以賣貨便，蝦皮退貨以蝦皮平台退貨流程</p>
    <p>6.出貨前商品皆會檢查，若經證實非人為因素瑕疵將幫您換貨/退貨</p>
    <p>7.請勿惡意棄單，領貨未取者將有一次補送機會將酌收50元工本費，棄單者將列入黑名單</p>
</div>
<%- include('shared/footer') %>
<!-- <div class="row">
  <div class="col-md-4 text-left">
      <ul>
        <li><h4>關於我們</h4></li>
        <li><a href="/views/center.ejs">客服中心</a></li>
        <li><a href="/views/question.ejs">購買須知</a></li>
        <li><a href="/views/pps.ejs">人物介紹</a></li>
      </ul>
  </div>
  
  <div class="col-md-4 text-left">
    <ul>
    <li><h4>會員中心</h4></li>
    <li>購物流程</li>
    <li>訂單查詢</li>
    <li>退貨及退款</li>
  </ul>
  </div>
  <div class="col-md-4 text-left">
        <address>
          <h3>
            服務專線：02-22222222        
            <br>服務時間：禮拜一至五
            <br>12:00~21:00
          </h3>
        </address>
  </div>
</div> -->

  <script src="/Js/Slide_animation.js"></script>
  <script src="/Js/jquery-3.7.1.min.js"></script>
  <script src="/Css/bootstrap-5.3.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script src="/Js/transition.js"></script>
</body>
</html>